.headline-1{
  font-size:60px;
  letter-spacing: -0.5px;
  font-weight: 800;
}
.headline-2{
  font-size:48px;
  letter-spacing: 0;
   font-weight: 800;
}
.headline-3{
  font-size:34px;
  letter-spacing: 0.25px;
  font-weight: 800;
}
.headline-4{
  font-size:24px;
  letter-spacing: 0;
  font-weight: 800;
}
.headline-5{
  font-size:20px;
  letter-spacing: 0.15px;
  font-weight: 600;
}
.subtitle-1{
  font-size: 16px;
  letter-spacing: 0.15px;
  font-weight: 700;
}
.subtitle-2{
  font-size: 14px;
  letter-spacing: 1;
  font-weight: 600;
}
.body-1{
  font-size: 16px;
  letter-spacing: 0.5px;
}
.body-2{
  font-size: 14px;
  letter-spacing: 0.25px;
}
.button{
  font-size:14px;
  letter-spacing: 1px;
  font-weight: 700;
}
.caption{
  font-size:12px;
  letter-spacing: 0.4px;
}
.overline-1{
  font-size: 10px;
  letter-spacing: 0.24px;
}
.overline-2{
  font-size: 10px;
  letter-spacing: 0.24px;
  font-weight: 600;
}
.extrabold{
  font-weight: 800;
}
.bold{
  font-weight:700
}
.semibold{
  font-weight: 600;
}
.medium{
  font-weight: 500;
}
.reguler{
  font-weight:400
}
.light{
  font-weight: 300;
}
.typography{
  font-style:normal;
}
