:root {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, #C3305D, #F0445E, #FD9367, #FDCD83);
  background-size: 400% 400%;
  margin: 0;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}