@import '../../../styles/colors.scss';

.select {
  position: relative;

  button {
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    height: 55px;
    justify-content: space-between;
    min-width: 200px;
    padding: 0 15px;

    &.in-active {
      svg{
        transition: ease 0.5s;
        transform: rotate(180deg);
      }
    }

    &.active {
      svg{
        transition: ease 0.5s;
        transform: rotate(0deg);
      }
    }
  }
  
  .options {
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(66, 66, 66, 0.2), 0px 0px 4px rgba(66, 66, 66, 0.2);
    box-sizing: border-box;
    min-width: 200px;
    position: absolute;
    z-index: 2;

    span {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      height: 40px;
      justify-content: space-between;
      padding: 13.37px;

      &:hover {
        background-color: map-get($secondary, light);
        cursor: pointer;
      }

      &.disabled {
        border-bottom: 1px solid #BDBDBD;
        border-top: 1px solid #BDBDBD;
        color: #CF1000;
        font-weight: bold;

        &:hover {
          background-color: inherit;
          cursor: inherit;
        }
      }
    }
  }
}